<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT"
        crossorigin="anonymous">
</head>
<html>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Weather Application</h1>
        </div>
        <div class="col-md-6 pt-5" style="padding:20px;margin: 50px;">
            <div class="form-group">
                <label class="control-label" for="location">Enter location ~ it can be a city or address:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="location" name="search-location">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search!</button>
                </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 pt-5" class="float-center">
            <footer>Copyright &copy; Srivatsa Rao</footer>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>